snippet cpsr "PSR0 class"
<?php declare(strict_types=1);

namespace ${3:`!v substitute(substitute(expand("%:h"), '\v^\w+\/(\u)', '\1', ''), '\/', '\', 'g')`};

final class ${2:`!v Filename('', 'myClass')`}
{
    ${1}
}
endsnippet
