[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/dirdo"]
	path = .vim/bundle/dirdo
	url = git://github.com/ornicar/vim-dirdo.git
[submodule ".vim/bundle/lusty"]
	path = .vim/bundle/lusty
	url = git://github.com/sjbach/lusty.git
[submodule ".vim/bundle/phpfolding"]
	path = .vim/bundle/phpfolding
	url = git://github.com/vim-scripts/phpfolding.vim.git
[submodule ".vim/bundle/ack"]
	path = .vim/bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/commandt"]
	path = .vim/bundle/commandt
	url = git://github.com/wincent/Command-T.git
[submodule ".vim/bundle/markdown"]
	path = .vim/bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/taglist"]
	path = .vim/bundle/taglist
	url = git://github.com/mexpolk/vim-taglist.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/DBGp-client"]
	path = .vim/bundle/DBGp-client
	url = https://github.com/vim-scripts/DBGp-client.git
[submodule ".vim/bundle/snipmate"]
	path = .vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule ".vim/bundle/gitv"]
	path = .vim/bundle/gitv
	url = git://github.com/gregsexton/gitv.git
