[submodule "vim/pack/default/start/fugitive"]
	path = vim/pack/default/start/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim/pack/default/start/lusty"]
	path = vim/pack/default/start/lusty
	url = http://github.com/sjbach/lusty.git
[submodule "vim/pack/default/start/markdown"]
	path = vim/pack/default/start/markdown
	url = http://github.com/tpope/vim-markdown.git
[submodule "vim/pack/default/start/surround"]
	path = vim/pack/default/start/surround
	url = http://github.com/tpope/vim-surround.git
[submodule "vim/pack/default/start/gitv"]
	path = vim/pack/default/start/gitv
	url = http://github.com/gregsexton/gitv.git
[submodule "vim/pack/default/start/vim-php-namespace"]
	path = vim/pack/default/start/vim-php-namespace
	url = git@github.com:arnaud-lb/vim-php-namespace.git
[submodule "vim/pack/default/start/tabular"]
	path = vim/pack/default/start/tabular
	url = git@github.com:godlygeek/tabular.git
[submodule "vim/pack/default/start/ragtag"]
	path = vim/pack/default/start/ragtag
	url = http://github.com/tpope/vim-ragtag.git
[submodule "vim/pack/default/start/matchit"]
	path = vim/pack/default/start/matchit
	url = http://github.com/vim-scripts/matchit.zip.git
[submodule "vim/pack/default/start/vim-symfony"]
	path = vim/pack/default/start/vim-symfony
	url = http://github.com/docteurklein/vim-symfony.git
[submodule "vim/pack/default/start/ctrlp"]
	path = vim/pack/default/start/ctrlp
	url = http://github.com/kien/ctrlp.vim
[submodule "vim/pack/default/start/behat"]
	path = vim/pack/default/start/behat
	url = http://github.com/veloce/vim-behat.git
[submodule "vim/pack/default/start/powerline"]
	path = vim/pack/default/start/powerline
	url = http://github.com/Lokaltog/vim-powerline.git
[submodule "vim/pack/default/start/abolish"]
	path = vim/pack/default/start/abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "vim/pack/default/start/twig"]
	path = vim/pack/default/start/twig
	url = git://github.com/beyondwords/vim-twig.git
[submodule "vim/pack/default/start/phpspec"]
	path = vim/pack/default/start/phpspec
	url = git://github.com/Herzult/phpspec-vim.git
[submodule "vim/pack/default/start/vdebug"]
	path = vim/pack/default/start/vdebug
	url = git://github.com/joonty/vdebug.git
[submodule "vim/pack/default/start/git-gutter"]
	path = vim/pack/default/start/git-gutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "vim/pack/default/start/ultisnips"]
	path = vim/pack/default/start/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "git_template/hooks/composer-check"]
	path = git_template/hooks/composer-check
	url = git://gist.github.com/5867424.git
[submodule "vim/pack/default/start/delimitate"]
	path = vim/pack/default/start/delimitate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "vim/pack/default/start/easymotion"]
	path = vim/pack/default/start/easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "vim/pack/default/start/comma-object"]
	path = vim/pack/default/start/comma-object
	url = git@github.com:austintaylor/vim-commaobject.git
[submodule "vim/pack/default/start/camel-case-motion"]
	path = vim/pack/default/start/camel-case-motion
	url = git@github.com:bkad/CamelCaseMotion.git
[submodule "vim/pack/default/start/jellybeans"]
	path = vim/pack/default/start/jellybeans
	url = git@github.com:nanotech/jellybeans.vim.git
[submodule "vim/pack/default/start/editorconfig"]
	path = vim/pack/default/start/editorconfig
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule "vim/pack/default/start/auto-mkdir"]
	path = vim/pack/default/start/auto-mkdir
	url = git@github.com:travisjeffery/vim-auto-mkdir.git
[submodule "vim/pack/default/start/gitgutter"]
	path = vim/pack/default/start/gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "vim/pack/default/start/elm-lang"]
	path = vim/pack/default/start/elm-lang
	url = https://github.com/ElmCast/elm-vim.git
[submodule "vim/pack/default/start/typescript"]
	path = vim/pack/default/start/typescript
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vim/pack/default/start/ale"]
	path = vim/pack/default/start/ale
	url = https://github.com/w0rp/ale.git
